body {
    margin: 0;
  }

  .flex-container {
    display: flex;
    height: 100vh;
  }

  .bar {
    display: flex;
    background-color: coral;
    width: 300px;
    flex-direction: column;
    list-style: none;
  }

  .section {
    display: flex;
    justify-content: center;
  }

  .option_1 {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: white;
    margin: 0.2em;
    text-decoration: none;
    color: grey;
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

  .option_1:hover {
    background-color: grey;
    color: white;
  }

  .image {
    align-self: center;
    margin: 10px;
    width: 200px;
  }

    .flourish-embed{
      width: 1000;
      height: 700;
    }
