</html>
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/stylePages.css" />

</head>

<body>

    <div class="flex-container">
        <div class="bar">
            <div class="menu_options">
                <li><a class="option_1" href="index">Home</a></li>
                <li><a class="option_1" href="carreraGraph">Motivos de abandono</a></li>
                <li><a class="option_1" href="#">Mujeres</a></li>
                <li><a class="option_1" href="#">Hombres</a></li>
                <li><a class="option_1" href="#">Finalizaron la carrera</a></li>
            </div>
        </div>
        <div class="section" style="flex:1">
            <div class="flourish-embed" data-src="visualisation/154736"></div><script src="https://public.flourish.studio/resources/embed.js"></script>        </div>
    </div>
</body>

</html>
