</html>
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/stylePages.css" />

</head>

<body>

    <div class="flex-container">
        <div class="bar">
            <div class="menu_options">
                <li><a class="option_1" href="index">Home</a></li>
                <li><a class="option_1" href="carreraGraph">Finalizaron la carrera</a></li>
                <li><a class="option_1" href="#">Mujeres</a></li>
                <li><a class="option_1" href="#">Hombres</a></li>
                <li><a class="option_1" href="#">Motivos de abandono</a></li>
            </div>
        </div>
        <div class="section" style="flex:1">

        </div>
    </div>
</body>

</html>
