</html>
<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>

</head>

<body>

    <nav class="nav">
        <ul class="menu_main">
            <li><a href="index">Inicio</a></li>
            <li><a href="estadisticas">Encuestas +</a>
                <ul class="sub_menu">
                    <li><a href="egresados">Egresados</a>
                    <li><a href="motivosAbandono">Motivos de abandono</a>
                    <li><a href="motivosAbandonoTipo">Tipo de Universidad</a>
                </ul>
            </li>
        </ul>
    </nav>
    <section class="section">
        <div class = "elements"> 
            <h1>Encuestas</h1><br>
            <p>El principal objetivo en esta investigación fue determinar cuántos jóvenes entre 25 y 29 años terminan la Universidad en Uruguay y los principales motivos por lo cual muchos no la terminan. 
            </p>
            <p>Para realizar esta investigación se tomó como referencia datos obtenidos de la Encuesta Nacional de la Adolescencia y la Juventud realizada por INE en el año 2013.</p><br>
            <div class = "button">
                    <a class="hidden_button-i" href="egresados">Análisis de los datos</a>            
                </div>
        </div>
    </section>     
   
</body>

</html>
