</html>
<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="stylesheets/motivosAbandono.css" />

</head>

<body>
    <nav class="nav">
        <ul class="menu_main">
            <li><a href="index">Inicio</a></li>
            <li><a href="estadisticas">Encuestas +</a>
                <ul class="sub_menu">
                    <li><a href="egresados">Egresados</a>
                    <li><a href="motivosAbandono">Motivos de abandono</a>
                    <li><a href="motivosAbandonoTipo">Tipo de Universidad</a>
                </ul>
            </li>
        </ul>
    </nav>
    <section>
        <div class = "elements">
            <h1>Universidad</h1><br>
            <p>62,5% de los jóvenes recibidos asistieron a Universidad pública.</p>
            <div class="flourish-embed" data-src="visualisation/159953"></div><script src="https://public.flourish.studio/resources/embed.js"></script>        </div>
        </section>
        </body>
</html>